Makefile
build/*
doc/html
doc/latex
*.pro.user
*.list
/tests/testutils/Makefile.sandboxhook
/ssud/ssuadaptor.cpp
/ssud/ssuadaptor.h
/rndssucli/ssuproxy.cpp
/rndssucli/ssuproxy.h
/.nodocs
ssucli/ssuproxy.h
